{% extends 'layout.html' %}


{% block content %}

<a href="{{ url_for('index') }}" >뒤로가기</a>
<div>
	<h1>우리 팀원을 소개합니다!</h1>
	<br>
	<h2>영수</h2>
	<h3>"저는 서점을 좋아합니다."</h3>
	<img src = "https://imgur.com/Dz0GDrq.jpg" width = 180px;/>
	<p>사진은 혜화의 책방 '어쩌다산책'입니다</p>
	<br>
	<h2>형준</h2>
	<h3>"자는 게 최고야!"</h3>
	<img src = "https://i.imgur.com/MWDfHYU.png" width = 180px;/>
	<p>사진은 제 별명이기도 한 달팽이입니다.</p>
	<br>
	<h2>채영</h2>
	<h3>"자는 게 최고야!"</h3>
	<img src = "https://i.imgur.com/MWDfHYU.png" width = 180px;/>
	<p>사진은 제 별명이기도 한 달팽이입니다.</p>
	<br>
	<h2>희재</h2>
	<h3>"자는 게 최고야!"</h3>
	<img src = "https://i.imgur.com/MWDfHYU.png" width = 180px;/>
	<p>사진은 제 별명이기도 한 달팽이입니다.</p>
</div>

{% endblock %}

