body {
  background-color: #252424;
  color: white;
  text-align: center;
}
h1 {
  /*clock*/
  font-size: 6rem;
  line-height: 50%;
}
li {
  list-style-type: none;
}
input {
  border-radius: 10px;
}
.weatherBox {
  top: 2em;
  margin: auto;
  width: 6em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10%;
  position: relative;
}
.weatherIcon {
  top: -2em;
  width: 3em;
  height: 3em;
  position: relative;
}
.weatherText {
  top: 6em;
  color: white;
  font-size: x-small;
  line-height: 30%;
  position: relative;
}
.usernameForm,
.greetingsText {
  display: none;
}
.showing {
  display: block;
}
.todoLoadArea {
  width: 25em;
  text-align: left;
  margin: auto;
}
.delBtn {
  cursor: pointer;
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(50%);
  object-fit: cover;
  animation: fadeIn 0.5s;
  -moz-animation: fadeIn 3s; /* Firefox */
  -webkit-animation: fadeIn 0.5s; /* Safari and Chrome */
  -o-animation: fadeIn 3s; /* Opera */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
